.chat-right{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E8E8E8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.chat-header img{
    width:75px;
    height:75px;
    margin-right:30px;
}

.chat-footer{
    background-color: #ffffff;
}

.chat-body{
    height:75vh;
}

.chat-footer input,
.chat-footer input:focus-visible{
   border: none !important;
   padding: 15px;
}
